<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>
    <p>New user has been created to <b>Property APP</b></p>
    <p>
      Here are the user details,<br />
    </p>
    <p>Name: <%= @user.name %> <br />
      Email: <%= @user.email %> <br />
      Password: <%= @password %>
    </p>
  </body>
</html>
