default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  adapter: postgresql
  encoding: unicode
  database: ajackus_db
  pool: 5
  username: root
  password: root

test:
  <<: *default
  adapter: postgresql
  encoding: unicode
  database: ajackus_db_test
  pool: 5
  username: root1
  password: root

production:
  <<: *default
  database: postgresql
